<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                    http://www.springframework.org/schema/beans/spring-beans.xsd">


  <bean id="employeeObj" class="Employee" scope="prototype">
        <constructor-arg type="int">
            <value>102</value>
        </constructor-arg>
        <constructor-arg type="double">
            <value>2000.490</value>
        </constructor-arg>
        <constructor-arg type="String">
            <value>Namita</value>
        </constructor-arg>          
    </bean>
</beans>
